#styleh1{
    text-align: center;
}


#pantalla{
    width: 200px;
    background-color: rosybrown;
    margin: 0 auto;
    text-align: center;

}

.limites{
    margin:5px
}

#myButton{
    margin:5px
}
